#body{
    --color-button-add: #64dd17;
    --color-button-dlt: #f50057;
    display: flex;
    border: none;
    padding-top: 0px;
    padding: unset;
    color: var(--color-text-grey);
    background-color: transparent;
}

.fake-body{
    all: unset;
}

#body::before {
    all: unset;
}

#body > div {
    margin-right: 10px;
}

#body > div + div {
    margin-right: 0px;
}

.body-item {
    background-color: var(--color-background-white);
    border: 3px solid transparent;
    padding: 20px;
    border-radius: 10px;
    margin-top: 0px;
}

#body form .search-btn{
    background-color: var(--color-primary-dark);
}

#body form .add-btn{
    background-color: var(--color-button-add);
}

#body form .dele-btn {
    background-color:var(--color-button-dele);
}



/* Chức năng */
.feature {
    max-width: 35%;
    width: 100%;
}




/* Title */
.title {
    display: block;
    text-align: center;
    color: var(--color-text-dark);
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}

/* Form */

#body form .container{
    display: flex;
    margin-bottom: 10px;
    padding: auto;
}

#body form .container > *{
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
}
/* form .container > *:first-child{
    margin-right: 10px;
} */

.feature-form select {
    margin-right: 10px;
    display: inline-block;
    max-width: 125px;
    width: 100%;
    height: 30px;
}

.feature-form label {
    color: var(--color-text-dark);
    text-align: left;
    margin-top: 5px;
    margin-right: 10px;
    max-width: 125px;
    width: 150px;
}
.feature-form input {
    height: 30px;
    margin: auto;
    margin-right: 0px;
}




.feature-form .price-product-line{
    background-color: var(--color-text-grey);
    height: 1px;
    margin: auto 20px;
}

.price-product-input:after{
    content: "đ";
    width: inherit;
    height: inherit;
}



.feature-form input[type="range"]{
    width: 100%;
}


#des-product {
    height: 100px;
}

.feature form > div {
    /* margin: auto; */
    text-align: center;
}



.feature-form input[type="submit"] {
    font-size: 15px;
    width: 77px;
    height: 37px;
    color: var(--color-background-white);
    border: none;
    border-radius: 5px;
    
}

/* Product add */
.product-add {
    margin-top: 10px;
}

/* Product search */
.feature-form input[type = "text"]{
    width: 100%;
}

.feature-form .price-product-input {
    max-width: 100px;
}



/* Product view */
.product-view {
    height: max-content;
    width: 100%;
}

/* .product-view .container {
    display: flex;
    flex-direction: column;
}

.product-view .container .item {
    width: 100%;
    border: 2px solid var(--color-text-dark);
    padding: 5px;
    border-radius: 7px;
    display: flex;
} */
/* .product-view .item img {
    max-width: 10%;
}

.product-view .item .des{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
 */


/* .product-title {
    font-size: 18px;
    color: var(--color-text-dark);
    font-weight: 700;
}

.product-money {
    color: var(--color-text-dark);
}

.product-qty {
    color: var(--color-text-dark);
} */



.product-view table {
    border-collapse: collapse;
    width: 100%;

}

.product-view td {
    padding: 5px;
    max-width: max-content;
}

.product-view thead td {
    height: 35px;
    background-color: var(--color-primary-dark);
    color: white;
}

.product-view td{
    border: 2px solid var(--color-text-white);
    background-color: var(--color-primary-dark);
    color: white;
}

.product-view td > *{
    margin: auto;
}

table .tdImg {
    max-width: 100px;
}

.product-view td > img {
    max-width: 100px;
}

.product-view a {
    height: 30px !important;
    width: 30px !important;
    border: none;
    border-radius: 3px;
}

.product-view .btn-edt{
    margin-bottom: 10px;
    background-color: var(--color-button-add);
}

.product-view .btn-dlt {
    background-color: var(--color-button-dlt);
}

